* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../scss/img/forest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;

  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
}
